<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-body">
            <a href="/users/add" class="btn btn-primary">Add User</a>
        </div>

    </div>
    <h1>USERS</h1>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="user : ${users}" >
            <td th:text="${user.id}">User Id</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.surname}">Last Name</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <a href="/users/edit/" th:href="@{|/users/edit/${user.id}|}"class="btn btn-success">Edit</a>
                <a href="/users/delete/" th:href="@{|/users/delete/${user.id}|}"class="btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
