<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Step 1</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header class="header--form-page" th:include="donations/fragments::header"></header>
<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
        </div>
    </div>

    <div class="form--steps-container">

        <form>
    <!-- STEP 7 -->
    <div data-step="7"class="active">
        <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
        </h2>
    </div>
</form>
</div>
</section>
<footer th:include="donations/fragments::footerPart"></footer>
<script src="../static/js/app.js"></script>

</body>
</html>
