<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>City List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header class="header--form-page" th:include="donations/fragments::header"></header>

<section class="login-page" align="center">
    <h2>Add City</h2>
    <form th:action="@{/addCity}" th:object="${city}" method="post" >
        <div class="form-group" >
            <input type="text" th:field="*{name}" placeholder="City">
        </div>
        <div class="form-group form-group--buttons">
            <button class="btn" align="center" type="submit">Add City</button>
        </div>
    </form>
</section>
<footer th:include="donations/fragments::footerPart"></footer>
</body>
</html>
