<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div th:fragment="header2">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li><a href="login.html">Zaloguj</a></li>
                <li class="highlighted"><a href="#">Załóż konto</a></li>
            </ul>

            <ul>
                <li><a href="#">Start</a></li>
                <li><a href="#">O co chodzi?</a></li>
                <li><a href="#">O nas</a></li>
                <li><a href="#">Fundacje i organizacje</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
