
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>City List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<section>
<div align="center">
    <h1>CITIES</h1>
    <table border="1">
        <thead>
        <tr>
            <th>City Id</th>
            <th>City Name</th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="city : ${cities}" >
            <td th:text="${city.id}">User Id</td>
            <td th:text="${city.name}">Name</td>
            <td> <a th:href="@{'/editCity/' + ${city.id}}">Edit</a>
             <a th:href="@{'/deleteCity/' + ${city.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</section>


</body>
</html>
