
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-body">
            <a href="/addCity" class="btn btn-primary">Add City</a>
        </div>

    </div>
    <h1>CITIES</h1>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>City Id</th>
            <th>City Name</th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="city : ${cities}" >
            <td th:text="${city.id}">City Id</td>
            <td th:text="${city.name}">Name</td>
            <td>
                <a href="/editCity" th:href="@{|/editCity/${city.id}|}"class="btn btn-success">Edit</a>
                <a href="/deleteCity/" th:href="@{|/deleteCity/${city.id}|}"class="btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>


</section>
</body>
</html>
